* {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  padding-top: 0.2em;
  font-weight: normal;
}